.build{
  padding-bottom: 120px;
  padding-top: 120px;
  background: linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
  color: #fff;
}

.build__link{
  text-decoration: none;
}

.icon-popup::before {
  content: "\e8f1";
}

.build__img-bottom{
  max-width: 290px;
  padding-left: 24px;
  padding-right: 24px;
  padding-top: 12px;
  padding-bottom: 12px;
}

.build__img-bottom-text{
  color: #343a40;
  text-decoration: none;
}

@media screen and (max-width:1000px){
  .build__box{
  flex-direction: column;
  }

  .build__text{
    margin-bottom: 21px;
}
}

@media screen and (max-width:500px) {
  .build__img{
    width: 290px;
  }
}