.core{
  padding-bottom: 72px;
  border-top: 72px;
}

.core__img-box{
  width: 546px;
  height: 436px;
}

.core__img{
  width: 100%;
}

.core__list{
  background-color: #f8f9fa;
}

.core__link{
  text-decoration: none;
  color: #343a40;
  margin-bottom: 24px;
  border: none;
}

.core__link:hover{
  color: #343a40;
  box-shadow: 0px 10px 20px rgb(0 0 0 / 8%);
}

.core__bottom-link{
  text-decoration: none;
}