.start{
  background: linear-gradient(135deg, #6f42c1 0%, #4582EC 100%);
  padding-bottom: 120px;
  padding-top: 120px;
  color: #fff;
}

.start__title{
  margin-bottom: 24px;
}

.start__button{
  width: auto;
  margin-left: auto;
  margin-right: auto;
}